@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f5fdff;
  --color-text: #020308;
  --color-primary: #172872;
  --color-bg-variant: #e6e9fa;
  --color-idan: #1c2f87;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--color-bg-variant);
}
